@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

html{
    font-family: 'Gloock', serif;
    background: rgb(253, 254, 246);
    scroll-behavior: smooth;
}

body{
    margin:0;
}
.container {
    display: flex; /* or inline-flex */
    justify-content: center;
}

nav{
    position:fixed; 
    display:flex,block;
    align-items:center;
    justify-content: center;
    text-align:center;
    padding:10px;
    background-image: linear-gradient(to right, white,rgb(184, 249, 255));
    width:100%;
}
.page2{
    font-family: 'Dosis', sans-serif;
}

.title{
    font-size:6rem;
    line-height:6rem;
    background-image: linear-gradient(to bottom right,rgb(78, 255, 255), rgb(28, 28, 133));;
    border:10px;
    text-align:center;
    padding:1rem;
    margin:auto;
    padding-bottom:0.5rem;
}
.title-2{
    font-size:6rem;
    line-height:6rem;
    background-image: linear-gradient(to bottom right,rgb(78, 255, 152), rgb(28, 65, 133));;
    border:10px;
    text-align:center;
    padding:1rem;
    margin:auto;
    padding-bottom:0.5rem;
}
.gradient-text{
    transition:0.5s;
}
.gradient-text:hover{
    font-size:10rem;
    line-height:10rem;
    font-weight:900;
    letter-spacing:1.2rem;
        /* Create the gradient. */
    background-image: linear-gradient(45deg, #00b7ff, #ffffff);
    
    /* Set the background size and repeat properties. */
    background-size: 100%;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 

}
.gradient-text-2{
    transition:0.5s;
}
.gradient-text-2:hover{
    font-size:8rem;
    line-height:8rem;
    font-weight:900;
    letter-spacing:1.2rem;
        /* Create the gradient. */
    background-image: linear-gradient(45deg,#368fd8, #00ffae); 
    
    /* Set the background size and repeat properties. */
    background-size: 100%;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -webkit-text-stroke: 0.0001px rgb(255, 255, 255);
}

.aboutme{
    /* background-image: url('images/computer.gif'); */
    background-image: linear-gradient(to right, rgb(0, 99, 160),rgb(0, 162, 255),rgb(94, 255, 196));
    padding:10px;
    margin:25px;
    border:25px solid black;
    border-radius:25px;
    font-size:2.5rem;
    line-height:3.25rem;
    text-align:center;
    color:white;
    font-family: 'Shantell Sans', cursive;
}
 
.aboutme img{
    width:450px;
    height:300px;
    border-radius:15px;
    transition:0.5s;
}
.aboutme img:hover{
    width:540px;
    height:360px;
}
.aboutmeword {
    justify-content: center;
    margin:0 auto;
    margin-top:20px;
    margin-bottom:20px;
    padding:10px;
    font-size:2.5rem;
    line-height:3.25rem;
    text-align:center;
    border:10px;
    border-radius:15px;
    color:white;
    background-image: linear-gradient(to right,rgb(0, 200, 255),rgb(34, 62, 133));
    text-align:center;
    justify-content:center;
    width:35%;
    font-family: 'Josefin Sans', sans-serif;
    transition:0.9s;
}
.aboutmeword:hover{
    font-size:4.5rem;
    line-height:7rem;
    width:55%;
}
.aboutmeword:hover h2{
    line-height:6rem;
    background-image: linear-gradient(45deg,#368fd8, #00ffae); 
    
    /* Set the background size and repeat properties. */
    background-size: 100%;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.navitem{
    background-color: transparent;
    color:rgb(51, 51, 51);
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border:10px;
    border-radius:10px;
    transition:0.75s;
}
.connections{
    padding:10px;
    margin-top:50px;
    background-image:linear-gradient(rgb(175, 255, 240),rgb(221, 255, 245));
    justify-content: center;
    text-align:center;
    font-family: 'Ubuntu', sans-serif;
}
.connections h3{
    font-size:4.2rem;
    transition:1s;
}
.connections h3:hover{
    font-size:5rem;
}


.c-container{
    display:flex;
    justify-content:space-evenly;
    font-size:1.5rem;
}
.citems{
    size:auto;
    text-align:center;
    transition:0.75s;
}
.citems:hover{
    font-size:2rem;
}
.citems img{
    transition:0.75s;
}

.citems:hover img{
    width:150px;
    height:110px;
}
.citems-2{
    size:auto;
    text-align:center;
    transition:0.75s;
}
.citems-2:hover{
    font-size:2rem;
}
.citems-2 img{
    transition:0.75s;
}

.citems-2:hover img{
    width:150px;
    height:150px;
}

.navitem:hover{
    background-image:linear-gradient(rgb(175, 255, 240),rgb(133, 141, 178));
    font-size:1.25rem;
}

.personal-project{
    display:flex;
    background-image:linear-gradient(to top, rgb(200, 255, 245),rgb(43, 132, 173));
}
.personal-project p{
    font-weight:700;
    font-size:1.2rem;
}
.personal-project a{
    font-weight:700;
    font-size:2rem;
}
.personal-project h3{
    font-weight:900;
    font-size:1.5rem;
}

.pp1{
    padding:10px;
    margin:15px;
    margin-top:0px;
    flex-shrink:5;
}
.pp1 h1{
    font-size:5rem;
    transition:0.75s;
    line-height:normal;
}
.pp1 h1:hover{
    font-size:5.2rem;

    background-image: linear-gradient(45deg,#368fd8, #00ffae); 
    
    /* Set the background size and repeat properties. */
    background-size: 100%;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -webkit-text-stroke: 0.0001px rgb(255, 255, 255);
}
.personal-project-2{
    background-image:linear-gradient(rgb(195, 255, 244),rgb(242, 255, 215));
    margin:0;
}
.pvid {
    border-radius:5px;
    margin:20px;
    flex-grow:3;
}
.glossary {
    justify-content:center;
    text-align:center;
    padding:10px;
    margin: 0 auto;
    /* background-image:linear-gradient(rgb(224, 255, 165),rgb(255, 168, 168)) */
}
.media{
    display:flex;
    flex-direction: column;
}
.images-media{
    justify-content:center;
    display:flex;
}
.images-media img{
    width:350px; 
    height:225px;
    transition:1s;
}
.images-media img:hover{
    width:420px;
    height:270px;
}
.playhere{
    transition:1s;
}
.playhere:hover{
    font-size:3rem;

    background-image: linear-gradient(45deg,#368fd8, #00ffae); 
    
    /* Set the background size and repeat properties. */
    background-size: 100%;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -webkit-text-stroke: 0.0001px rgb(255, 255, 255);
}

.linkabt{
    transition:1s;
}
.linkabt:hover{
    font-size:5rem;
}

.computer-part{
    text-align:center;
    justify-content:center;
    border:25px solid black;
    border-radius:25px;
    background-color:black;
    margin-left:150px;
    margin-right:150px;
}
.computer-part2{
    text-align:center;
    border:25px solid black;
    background-color:black;
    margin-left:690px;
    margin-right:690px;
    margin-top:-129px;
}
.glink{
    transition:0.5s;
}
.glink:hover{
    font-size:1.5rem;
}
.glossary li{
    text-align:center;
}
.glossary ol{
    text-align:center;
}
.images-descs{
    display:flex;
    justify-content:space-evenly;
}
.images-descs-2{
    display:flex;
    justify-content:space-evenly;
}

.images-descs-flex{
    display:flex;
    flex-direction: column;
}
.images-descs-flex img{
    width:600px;
    height:380px;
    transition:1s;
}
.images-descs-flex img:hover{
    width:720px;
    height:456px;
}
.snippettext{
    text-align:center;
}
.image-desc{
    text-align:center;
}
.project{
    display:flex;
    justify-content:space-around;
}
.projecttext{
    margin:10px;
    margin-top:-10px;
    padding:10px;
}

.project img{
    width:600px;
    height:380px;
    transition:1s;
    border-radius:25px;
}
.project img:hover{
    width:720px;
    height:456px;
}

.scs{
    font-size:3rem;
    transition:0.75s;
    line-height:normal;
}
.scs:hover{
    font-size:4rem;

    background-image: linear-gradient(45deg,#8400ff, #ddff00); 
    
    /* Set the background size and repeat properties. */
    background-size: 100%;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -webkit-text-stroke: 0.0001px rgb(255, 255, 255);
}