@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');

html{
    font-family: 'Gloock', serif;
    background: rgb(253, 254, 246);
}

body{
    margin:0;
}
.container {
    display: flex; /* or inline-flex */
    justify-content: center;
}

nav{
    position:fixed; 
    display:flex,block;
    align-items:center;
    justify-content: center;
    text-align:center;
    padding:10px;
    background-image: linear-gradient(to right, white,rgb(184, 249, 255));
    width:100%;
}

.title{
    font-size:6rem;
    line-height:6rem;
    background-image: linear-gradient(to bottom right,rgb(78, 255, 255), rgb(28, 28, 133));;
    border:10px;
    text-align:center;
    padding:1rem;
    margin:auto;
}
.gradient-text{
    transition:0.5s;
}
.gradient-text:hover{
    font-size:8rem;
    line-height:8rem;
    font-weight:900;
    letter-spacing:1.2rem;
        /* Create the gradient. */
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    
    /* Set the background size and repeat properties. */
    background-size: 100%;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 

}
.aboutme{
    background-image: url('images/computer.gif');
    padding:10px;
    margin:10px;
    font-size:3rem;
    line-height:4.5rem;
    text-align:center;
    border:10px;
    border-radius:15px;
    border-color:black;
    color:white;
}

.aboutme img{
    width:450px;
    height:300px;
    border-radius:15px;
}
.aboutmeword {
    background-image: linear-gradient(to right,rgb(0, 200, 255),rgb(34, 62, 133));
    text-align:center;
    justify-content:center;
    border-radius:10px;
    padding:auto;
    width:35%;
}
.nav{
    background-color: rgb(56, 56, 56);
    color:white;
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.connections{
    display:flex;
}
.citems{
    size:auto;
}

.nav ::after{
    background-color: 57737A;
}