@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');

html{
    font-family: 'Gloock', serif;
    background: rgb(253, 254, 246);
}

.container {
    display: flex; /* or inline-flex */
    justify-content: center;
   
}

.nav{
    display:flex;
    align-items:center;
    justify-content: center;
}
h1{
    font-size:10rem;
    line-height:4.5rem;
}

.introduction {

}
.nav{
    background-color: rgb(56, 56, 56);
    color:white;
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.nav ::after{
    background-color: 57737A;
}